.footer {
  padding: 40px 0 25px 0;
  background-color: #282828;

  &__inner {
    margin-bottom: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 768.98px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__copiright {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: var(--font-family-2);
    color: var(--color-light);
  }
}

.logo__footer {
  @media (max-width: 768.98px) {
    margin-bottom: 20px;
  }

  &__img {
    @media (max-width: 768.98px) {
      width: 108px;
      height: 27px;
    }
  }
}

.nav {
  @media (max-width: 1199.98px) {
    display: none;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: var(--color-mariner);
  }

  &__list {}

  &__item {

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: var(--color-light);
  }
}


.info {
  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: var(--color-mariner);

    @media (max-width: 768.98px) {
      text-align: center;
    }
  }
}

.info-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (max-width: 768.98px) {
    margin-bottom: 20px;
  }

  &__book {
    padding: 8px 28px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    letter-spacing: 0.03em;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: hsl(8, 69%, 51%);
    }

  }

  &__connection {
    padding: 6px 20px;
    margin: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
    padding: 8px 20px;
    border: 2px solid var(--color-mariner);
    border-radius: 5px;
    color: var(--color-mariner);
    background-color: transparent;
  }
}

.scroll {
  display: flex;
  align-items: center;

  @media (max-width: 991.98px) {
    display: none;
  }

  &__img {}
}

.footer-contacts {
  border-radius: 20px;



  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: var(--color-mariner);

    @media (max-width: 768.98px) {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  &__adress {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: var(--color-light);

    @media (max-width: 768.98px) {
      text-align: center;
    }
  }

  &__streets {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 141.18%;
    letter-spacing: 0.03em;
    color: var(--color-light);
  }
}

.footer-contacts-number {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.03em;

  &__link {
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    color: var(--color-light);
  }
}

.modals {
  // display: none;
}


.modal {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.3);
  border-radius: 20px;

  @media (max-width: 991.98px) {
    height: 100vh;
  }

  &--visible {
    display: block;
  }
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  &--visible {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
  }
}

.form {
  padding: 40px 60px;

  @media (max-width: 991.98px) {
    padding: 38px 30px;
    max-width: 270px;
    height: 400px;
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    max-width: 490px;

    @media (max-width: 991.98px) {
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.03em;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        background-image: url(../img/title-line.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 60px;
        height: 6px;
      }
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 141.18%;
    letter-spacing: 0.03em;
    color: var(--color-main);

    @media (max-width: 991.98px) {
      font-size: 12px;
    }
  }

  &__btn {
    margin-left: 70px;
    padding: 18px 80px;

    @media (max-width: 991.98px) {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      padding: 15px 20px;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.03em;
    }
  }
}

.form-content {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  &__label {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__text {
    position: absolute;
    top: 0;
    padding: 19px 0 19px 19px;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.05em;
    opacity: 0.5;

    &--active {
      color: #000;
    }

    &--comment {
      scroll-behavior: smooth;
    }

    @media (max-width: 991.98px) {
      font-size: 13px;
    }
  }

  &__input {
    padding: 20px 10px 25px 115px;
    border: none;
    width: 100%;
    font-family: var(--font-family, sans-serif);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    outline: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.05em;
    border: 1px solid transparent;

    @media (max-width: 991.98px) {
      padding: 18px 10px 15px 93px;
      font-size: 13px;
    }

    &:focus {
      color: #000;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
      border: 1px solid slateblue;
    }

    &--active {
      font-weight: 300;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.05em;
      color: #000;
      opacity: 1;
    }
  }

  &__textarea {
    padding: 19px 10px 19px 146px;
    overflow: hidden;
    height: 98px;
    width: 100%;
    outline: none;
    resize: none;
    border: none;
    font-family: var(--font-family, sans-serif);
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.05em;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid transparent;

    @media (max-width: 991.98px) {
      padding: 16px 10px 19px 120px;
    }

    &:focus {
      color: #000;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
      border: 1px solid slateblue;
    }
  }
}
