.hero {
  padding-bottom: calc(50px + 50 * (100vh - 375px) / 705);
  min-height: calc(100vh - 225px);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 991.98px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.hero-content {
  max-width: 500px;

  @media (max-width: 991.98px) {}

  &__title {
    margin: 0;
    margin-bottom: 25px;
    position: relative;
    font-family: var(--font-family-2);
    font-weight: 700;
    font-size: 131px;
    font-size: calc(90px + 40 * (100vw - 320px) / 1530);
    line-height: 130px;
    letter-spacing: 0.03em;
    color: var(--color-mariner);

    // @media (max-width: 1199.98px) {
    //   margin-bottom: 15px;
    //   font-size: 110px;
    // }

    // @media (max-width: 575.98px) {
    //   font-size: 90px;
    // }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-image: url(../img/title-decor.svg);
      background-repeat: no-repeat;
      width: 180px;
      height: 30px;

      @media (max-width: 1199.98px) {
        width: 180px;
        height: 30px;
      }
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 40px;
    max-width: 475px;
    font-weight: 400;
    font-size: 16px;
    line-height: 141.18%;
    letter-spacing: 0.03em;

    @media (max-width: 991.98px) {
      max-width: 100%;
    }

    @media (max-width: 575.98px) {
      font-size: 13px;
    }
  }
}
