<section class="about">
  <div class="container">
    <h2 class="title">О Гостинице</h2>
    <div class="about__inner">
      <div class="about__text">
        <p>В каждом номере к услугам наших гостей бесплатный доступ к Wi-Fi Интернет, LCD телевизоры, кабельное
          телевидение,
          система индивидуального климат-контроля и подогрев полов в ванных комнатах, дизайнерская мебель, кровати с
          ортопедическим матрацем, просторные ванные комнаты украшиные естественным гранитом и мрамором.</p>
        <p>Мы создали для Вас идеальное место как для роскошного отдыха, интересного и комфортного времяпрепровождения в
          нашей
          гостинице, так и для деловых встреч — с безупречным европейским уровнем обслуживания.

          Гостиница «Байкал» рада Вас приветствовать. Добро пожаловать.</p>
      </div>
      <picture>
        <img class="about__img" loading="lazy" src="./img/about-img.svg" width="" height="" alt="">
      </picture>
    </div>
  </div>
</section>
