<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a class="logo__footer " href="#">
        <img class="logo__img" src="./img/logo.svg" alt="Logo">
      </a>
      <div class="nav">
        <h3 class="nav__title">Навигация</h3>
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a class="nav__link" href="#">Главная</a>
          </li>
          <li class="nav__item">
            <a class="nav__link " href="#">О гостинице</a>
          </li>
          <li class="nav__item">
            <a class="nav__link " href="#">Приемущества</a>
          </li>
          <li class="nav__item">
            <a class="nav__link " href="#">Номера</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Отзывы</a>
          </li>
        </ul>
      </div>
      <div class="info">
        <h3 class="info__title">Быстрая связь</h3>
        <div class="info-buttons">
          <button class="info-buttons__book btn btn--fill btn-reset" data-path="form-popup">Забронировать</button>
          <button class="info-buttons__connection btn btn-reset" data-path="me-popup">Обратный звонок</button>
        </div>
      </div>
      <div class="modals">
        <div class="modal-overlay">
          <div class="modal modal--1" data-target="form-popup">
            <form class="form" action="#">
              <h3 class="form__title title">Заполните форму!</h3>
              <p class="form__subtitle">И наш специалист свяжется с вами в ближайшее время.</p>
              <div class="form-content">
                <label class="form-content__label">
                  <span class="form-content__text form-content__text--name">Ваше имя:</span>
                  <input class="form-content__input " type="text" name="name">
                </label>
                <label class="form-content__label">
                  <span class="form-content__text form-content__text--phone">Телефон:</span>
                  <input class="form-content__input" type="text" name="name">
                </label>
                <label class="form-content__label">
                  <span class="form-content__text form-content__text--comment">Комментарий:</span>
                  <textarea class="form-content__textarea" type="text" name="Комментарий:"></textarea>
                </label>
              </div>
              <button class="form__btn btn btn-reset">Забронировать</button>
            </form>
          </div>
          <!-- <div class="modal modal--2" data-target="success">

          </div> -->
        </div>
      </div>
      <div class="scroll">
        <button class="scroll__btn btn-reset">
          <img class="scroll__img" src="./img/scroll.svg" alt="#">
        </button>
      </div>
      <div class="footer-contacts">
        <h3 class="footer-contacts__title">Контакты</h3>
        <div class="footer-contacts__adress">Адрес:</div>
        <div class="footer-contacts__streets">Кайдаловская ул., 37, Чита</div>
        <div class="footer-contacts-number">
          <a class="footer-contacts-number__link" href="tel">+7 (3022) 217856</a>
          <a class="footer-contacts-number__link" href="tel">+79294830255</a>
        </div>
        <div class="social">
          <a class="social__link" href="#">
            <img class="social__img" src="./img/social-viber-footer.svg" alt="viber">
          </a>
          <a class="social__link" href="#">
            <img class="social__img" src="./img/social-watsup-footer.svg" alt="watsup">
          </a>
        </div>
      </div>
    </div>
    <div class="footer__copiright">© Все права защищены.</div>
  </div>
</footer>
