<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo" href="#">
        <img class="logo__img" src="./img/logo.svg" alt="Logo" aria-hidden="true">
      </a>
      <nav class="menu" data-nav>
        <div class="box">
          <img class="box__logo" src="./img/navbar-logo.svg" alt="Logo" aria-hidden="true"
            aria-expanded="false">
            <button class="btn-close btn-reset" data-button-close>
              <img src="./img/burger-active.svg" alt="">
            </button>
        </div>

        <ul class="menu__list list-reset">
          <li class="menu__item">
            <a class="menu__link menu__link--active" href="#">Главная</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">О гостинице</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Приемущества</a>
          </li>
          <li class="menu__item">
            <a class="menu__link " href="#">Номера</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Отзывы</a>
          </li>
        </ul>
        <button class="btn-reset btn-top btn-top--navbar">Обратный звонок</button>
        <div class="header-contacts">
          <div class="header-contacts__adress">Адрес:</div>
          <div class="header-contacts__streets">Кайдаловская ул., 37, Чита</div>
          <div class="header-contacts-number">
            <a class="header-contacts-number__link" href="tel">+7 (3022) 217856</a>
            <a class="header-contacts-number__link" href="tel">+79294830255</a>
          </div>
          <div class="social">
            <a class="social__link" href="#">
              <img class="social__img" src="./img/viber-navbar.svg" alt="viber">
            </a>
            <a class="social__link" href="#">
              <img class="social__img" src="./img/watsup-navbar.svg" alt="watsup">
            </a>
          </div>
        </div>
      </nav>
      <button class="btn-reset btn-top">Обратный звонок</button>
    </div>
    <button class="burger btn-reset" data-burger aria-label="Open menu" aria-expanded="false">
      <span class="burger__line"></span>
    </button>
  </div>
</header>
