<section class="offer">
  <div class="container">
    <h2 class="title offer__title">Мы предлагаем</h2>
    <ul class="offer-content__list list-reset grid">
      <li class="offer-content__item">
        <h4 class="offer-content__title offer-content__title--icon-1">Бесплатный WI-FI</h4>
        <p class="offer-content__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
      </li>
      <li class="offer-content__item">
        <h4 class="offer-content__title offer-content__title--icon-2">Круглосуточный
        доступ</h4>
        <p class="offer-content__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
      </li>
      <li class="offer-content__item">
        <h4 class="offer-content__title offer-content__title--icon-3">Телевизор</h4>
        <p class="offer-content__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
      </li>
      <li class="offer-content__item">
        <h4 class="offer-content__title offer-content__title--icon-4">Парковка</h4>
        <p class="offer-content__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
      </li>
      <li class="offer-content__item">
        <h4 class="offer-content__title offer-content__title--icon-5">Влажная уборка</h4>
        <p class="offer-content__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
      </li>
      <li class="offer-content__item">
        <h4 class="offer-content__title offer-content__title--icon-6">Банно-прачечный
        комплекс</h4>
        <p class="offer-content__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
      </li>
      <li class="offer-content__item">
        <h4 class="offer-content__title offer-content__title--icon-7">Собственная кухня</h4>
        <p class="offer-content__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
      </li>
      <li class="offer-content__item">
        <h4 class="offer-content__title offer-content__title--icon-8">Банкетний зал</h4>
        <p class="offer-content__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
      </li>
      <li class="offer-content__item">
        <h4 class="offer-content__title offer-content__title--icon-9">Просторная столовая</h4>
        <p class="offer-content__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
      </li>
    </ul>
  </div>
</section>
