<section class="price">
  <div class="container">
    <h2 class=" price__title title">Наши номера</h2>
    <div class="price__inner">
      <picture>
        <img class="price__img" loading="lazy" src="./img/price-decor-1.svg" width="" height="" alt="">
      </picture>
      <div class="card-items">
        <div class="card-price">
          <h5 class="card-price__title card-price__title--icon-1">Одноместный номер</h5>
          <ul class="card-price__list list-reset">
            <li class="card-price__item">
              Душ
            </li>
            <li class="card-price__item">
              Кровать
            </li>
            <li class="card-price__item">
              Телевизор
            </li>
            <li class="card-price__item">
              Wi-Fi
            </li>
            <li class="card-price__item">
              Что то еще
            </li>
            <li class="card-price__item">
              Что то еще
            </li>
          </ul>
          <div class="card-price__text">
            Стоимость
          </div>
          <div class="card-price__cost">
            1000₽ / <span>сутки</span>
          </div>
        </div>
        <div class="card-price">
          <h5 class="card-price__title card-price__title--icon-2">Двухместный номер</h5>
          <ul class="card-price__list list-reset">
            <li class="card-price__item">
              Душ
            </li>
            <li class="card-price__item">
              Кровать
            </li>
            <li class="card-price__item">
              Телевизор
            </li>
            <li class="card-price__item">
              Wi-Fi
            </li>
            <li class="card-price__item">
              Что то еще
            </li>
            <li class="card-price__item">
              Что то еще
            </li>
          </ul>
          <div class="card-price__text">
            Стоимость
          </div>
          <div class="card-price__cost">
            2000₽ / <span>сутки</span>
          </div>
        </div>
      </div>
      <picture>
        <img class="price__img" loading="lazy" src="./img/price-decor-2.svg" width="" height="" alt="">
      </picture>
    </div>
  </div>
</section>
