<section class="reviews">
  <div class="container">
    <h2 class="reviews__title title">Ваши отзывы</h2>
    <div class="reviews__items">
      <div class="reviews__item">
        <img class="reviews__avatar" src="./img/reviews-avatar-1.svg" alt="avatar" aria-hidden="true">
        <div class="reviews__name">Мария Иванова</div>
        <p class="reviews__text">
          Хороший ,приветливый персонал,заселили раньше времени и выселили немного позже по надобности,за что отдельное
          спасибо!!!
        </p>
        <div class="reviews__date">01.02 - 03.02</div>
      </div>
      <div class="reviews__item">
        <img class="reviews__avatar" src="./img/reviews-avatar-1.svg" alt="avatar" aria-hidden="true">
        <div class="reviews__name">Женя Иванов</div>
        <p class="reviews__text">
          Расположение очень удобное - рядом жд станция, рыночек, центральный сквер и детская площадка в нем, недалеко
          расположен
          довольно большой продуктовый магазин. Номер соответствовал описанию, хоть и небольшой
        </p>
        <div class="reviews__date">01.02 - 03.02</div>
      </div>
      <div class="reviews__item">
        <img class="reviews__avatar" src="./img/reviews-avatar-1.svg" alt="avatar" aria-hidden="true">
        <div class="reviews__name">Светлана Ивановна</div>
        <p class="reviews__text">
          Чисто, есть горячая вода, мыло, шампунь... в общем все необходимое для того, что бы переночевать. Интернет
          есть,
          кондиционер тоже
        </p>
        <div class="reviews__date">01.02 - 03.02</div>
      </div>
      <div class="reviews__item">
        <img class="reviews__avatar" src="./img/reviews-avatar-1.svg" alt="avatar" aria-hidden="true">
        <div class="reviews__name">Иван Иванов</div>
        <p class="reviews__text">
          Отдыхали 10 дней большой семьей. Спокойное, тихое место, для отдыха от городской суеты и проблем насущных,
          рядом
          лес,
          горы, ручь и много свежего воздуха. Подъезд к дому нормальный. Дом чистый, имеется все неебходимое!
        </p>
        <div class="reviews__date">01.02 - 03.02</div>
      </div>
    </div>
  </div>
</section>
